---
import '../styles/global.css'
---

<html lang="en" class="scroll-smooth">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Docmee</title>
	</head>
	<body class="family">
		<div class="w-full p-[20px] flex justify-center items-center border-b border-slate-200">
			<a class="font-bold text-blue-600 text-[16px] hover:underline" href="/">Docmee</a>
		</div>
		<main class="prose prose-slate md:prose-sm prose-a:text-blue-600 prose-a:no-underline prose-p:text-slate-600 prose-a:hover:underline min-h-[400px] px-[30px] md:px-[20px] py-[20px] w-full max-w-[900px] m-auto border-x border-slate-200 md:border-none">
      <slot />
    </main>
		<div class="w-full p-[20px] flex justify-center items-center border-t border-slate-200">
			<span class="text-sm text-slate-600"> Design and coded by Carlos Costa </span>
		</div>
	</body>
</html>
